<section class="mx-auto text-center">
    <h1>Restaurants</h1>
    <div class=" mx-auto" style="width:90%;">
        <div class="row justify-content-around px-3">
            {{#each restaurants}}
            <a href="/rst/{{this.id}}">
            <div class="card px-4 pt-4 m-1 my-4 rounded-lg shadow entCard hoverCard " style="max-width: 24rem;">
                <img src="{{this.image}}" class="card-img-top rounded-lg" style="height:16rem;">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <div class="d-flex flex-row justify-content-around">
                        <p class="card-text">{{this.menus.length}} menus <br /></p>
                        <p>{{this.itemsum}} items</p>
                    </div>
                </div>
            </div>
            </a>
            {{/each}}

        </div>
    </div>
</section>
